__pycache__/
.idea/
.vscode/
**/dist/
**/node_modules/
test/coverage/
**/tmp/*
bridges/python/.venv/*
downloads/*
logs/*
server/src/config/**/*.json
bin/deepspeech/*
bin/flite/*
*.pyc
.DS_Store
*.sublime-workspace
npm-debug.log
debug.log
.env
!**/.gitkeep
!bridges/python/.venv/.gitkeep
!**/*.sample*
packages/**/config/config.json
packages/**/data/db/*.json
server/src/data/expressions/classifier.json
app/js/main.js
package.json.backup
.python-version
*.pyc
log.txt
.pabotsuitenames
.slacktee
testlog_*.txt
debug.log
command-events.json
raw-events.json
command-events-arr.json
raw-events-arr.json
anypoint-logs.json
log.html
output.xml
report.html
experiments*
pabot_results
testrail_buildkite_build_number.txt
testrail_results.json
testrail_run_id_list.csv
combined_results_log.html
parallel_run_output.xml
serial_run_output.xml
local.env
testlog*.txt
malformed*.txt
/_pycache_
_pycache_
*_pycache_
Check*.robot
nohup.*
git_commit_message.txt
Robot-Framework-Lone-Tester-Metrics-RoboCon-2019
/Robot-Framework-Lone-Tester-Metrics-RoboCon-2019
*.jpg
*.png
*.DS_Store
test-log*.txt
*-Log.txt
*output.xml
*report.html
